/*CSS reset*/

html, body, button, canvas {
	margin: 0;
	padding: 0;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body {
	background-color: #333;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12pt;
}
		
#canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 9;
}